.progress-react {
  height: 30vmin;
  pointer-events: none;
  background-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  .progress-react {
    animation: progress-spin infinite 10s linear;
  }
}

.progress-cont {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0.85);
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes progress-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
